@model IEnumerable<banAoCuoi.Models.SACH>

@{
    ViewBag.Title = "Sản phẩm theo nhà sản xuất";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    #giaban{
            padding-bottom:2em;
            color: white;
            text-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px darkblue;
    }
     body {
              font-family: 'Roboto', sans-serif;
              background-image: url('../../images/bgchung.png');
              margin:0;
              position: relative;
    }
</style>
<center>
    <h3 id="giaban" style="color:red">SẢN PHẨM THEO NHÀ THIẾT KẾ</h3>
    <div class="row" style="background-color:transparent">
        @foreach (var sach in Model)
        {
            <div class="col-sm-3 col-lg-3 col-md-3">
                <center>
                    <div class="thumbnail" style="width:75%">
                        <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">
                            <img style="filter: drop-shadow(0 0 5px violet); border-radius: 10px;height:160px" alt="@sach.Tensach" src="~/images/@sach.Anhbia" />
                        </a>
                        <div>
                            <br />
                            <h4 style="text-shadow: 5px 2px 4px orange;">@sach.Tensach</h4>
                        </div>

                    </div>

                </center>
            </div>
        }

    </div>
</center>
